.navegacao-secundaria{
   padding: 5px;
   background-color: #6b8e23;
   
   
}

.navegacao-escrita{
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  li {
  list-style-type:none;
  
  }

  a {
    text-decoration: none;
  }
   

}